@media (max-width: 1270px) {
    html, body {
        height: 100%;
        overflow: hidden; /* Adicionado para evitar overflow */
    }

    header {
        height: 4vh;
        width: 100%;
    }
    main {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 0px 0px 0px 0px;
        width: 100%;
        height: calc(100vh - 9vh - 20px);
    }

    .input-text {
        display: flex;
        flex-direction: column;
        border-radius: 30px;
        width: 90%;
        height: 45%;
        padding: 5px;
        align-items: center;
        background-color: var(--quaternary-color);
        box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
        justify-content: space-evenly;
    }

        .output-text {
        background-color: var(--quaternary-color);
        box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: 45%;
        padding: 5px;
    }

    #text-to-encrypt {
        display: flex;
        border: none;
        background-color: var(--quaternary-color);
        width: 90%;
        height: 250px;
        margin: 10px 0px 10px 0px;
        cursor: pointer;
        font-size: 16px;
        padding: 10px;
        resize: none;
        font-family: 'Lexend Giga', sans-serif;
        border-radius: 20px;
        outline: none;
    }

    .warning {
        display: flex;
        flex-direction: row;
        gap: 5px;
        font-size: 16px;
        margin: 0px 0px 10px 10px;
        align-self: flex-start;
        /* Alinha à esquerda dentro da flexbox */
        text-align: left;
    }

    #encrypt-message,
    #decrypt-message {
        width: 180px;
        height: 50px;
        color: var(--background-color-1);
        border: 3px solid var(--primary-color);
        background-color: var(--secondary-color);
        border-radius: 30px;
        font-size: 16px;
        cursor: pointer;
        font-family: 'Lexend Giga', sans-serif;
        padding: 5px;
    }

    .initial-message.encrypted-message, .initial-message.decrypted-message {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: justify;
        border-radius: 20px;
        width: 90%;
        max-width: 90%;
        word-break: break-word;
        overflow: auto;
    }
    
    .initial-message.encrypted-message.empty-message, .initial-message.decrypted-message.empty-message {
        font-size: 16px;
    }
    
    .initial-message.encrypted-message.invalid-message, .initial-message.decrypted-message.invalid-message {
        font-size: 16px;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        gap: 15px;
        justify-content: center;
        margin-top: 10px;
        width: 80%;
    }

    #encrypt-message:hover,
    #decrypt-message:hover {
        color: var(--background-color-1);
        border: 3px solid var(--secondary-color);
        background-color: var(--primary-color);
    }

    .output-text {
        background-color: var(--quaternary-color);
        box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: 45%;
        padding: 5px;
    }

    #magnifying-glass {
        display: flex;
        height: 100px;
        width: 100px;
        margin-bottom: 10px;
    }

    .initial-message {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px 0px 10px 0px;
        font-size: 16px;
        width: 90%;
        height: 300px;
        padding: 10px;
        font-family: 'Lexend Giga', sans-serif;
        text-align: center;
    }

    #copy-button {
        width: 170px;
        height: 40px;
        color: var(--background-color-1);
        border: 3px solid var(--primary-color);
        background-color: var(--secondary-color);
        border-radius: 30px;
        font-size: 16px;
        cursor: pointer;
        font-family: 'Lexend Giga', sans-serif;
        margin-top: 45px;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        background-color: var(--secondary-color);
        color: var(--quaternary-color);
        width: 100%;
        height: 5vh;
    }
}

@media (max-width: 768px) {
    header {
        height: 4vh;
        width: 100%;
    }

    h1 {
        display: flex;
        align-items: center;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 0px 0px 0px 0px;
        width: 100%;
        height: calc(100vh - 9vh - 20px);
    }

    .input-text {
        display: flex;
        flex-direction: column;
        border-radius: 30px;
        width: 90%;
        height: 40%;
        padding: 5px;
        align-items: center;
        background-color: var(--quaternary-color);
        box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
        justify-content: space-evenly;
    }

    #text-to-encrypt {
        display: flex;
        border: none;
        background-color: var(--quaternary-color);
        width: 90%;
        height: 250px;
        margin: 10px 0px 10px 0px;
        cursor: pointer;
        font-size: 16px;
        padding: 10px;
        resize: none;
        font-family: 'Lexend Giga', sans-serif;
        border-radius: 20px;
        outline: none;
    }

    .warning {
        display: flex;
        flex-direction: row;
        gap: 5px;
        font-size: 16px;
        margin: 0px 0px 10px 10px;
        align-self: flex-start;
        /* Alinha à esquerda dentro da flexbox */
        text-align: left;
    }

    #encrypt-message,
    #decrypt-message {
        width: 180px;
        height: 50px;
        color: var(--background-color-1);
        border: 3px solid var(--primary-color);
        background-color: var(--secondary-color);
        border-radius: 30px;
        font-size: 16px;
        cursor: pointer;
        font-family: 'Lexend Giga', sans-serif;
        padding: 5px;
    }

    .initial-message.encrypted-message, .initial-message.decrypted-message {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: justify;
        border-radius: 20px;
        width: 90%;
        max-width: 90%;
        word-break: break-word;
        overflow: auto;
    }
    
    .initial-message.encrypted-message.empty-message, .initial-message.decrypted-message.empty-message {
        font-size: 16px;
    }
    
    .initial-message.encrypted-message.invalid-message, .initial-message.decrypted-message.invalid-message {
        font-size: 16px;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        gap: 15px;
        justify-content: center;
        margin-top: 10px;
        width: 80%;
    }

    #encrypt-message:hover,
    #decrypt-message:hover {
        color: var(--background-color-1);
        border: 3px solid var(--secondary-color);
        background-color: var(--primary-color);
    }

    .output-text {
        background-color: var(--quaternary-color);
        box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: 40%;
        padding: 5px;
    }

    #magnifying-glass {
        display: flex;
        height: 100px;
        width: 100px;
        margin-bottom: 10px;
    }

    .initial-message {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px 0px 10px 0px;
        font-size: 16px;
        width: 90%;
        height: 300px;
        padding: 10px;
        font-family: 'Lexend Giga', sans-serif;
        text-align: center;
    }

    #copy-button {
        width: 170px;
        height: 40px;
        color: var(--background-color-1);
        border: 3px solid var(--primary-color);
        background-color: var(--secondary-color);
        border-radius: 30px;
        font-size: 16px;
        cursor: pointer;
        font-family: 'Lexend Giga', sans-serif;
        margin-top: 45px;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        font-size: 12px;
        background-color: var(--secondary-color);
        color: var(--quaternary-color);
        width: 100%;
        text-align: center;
        height: 5vh;
    }
}

@media (max-width: 425px) {
    body {
        background-color: var(--background-color-1);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-family: 'Lexend Giga', sans-serif;
    }

    header {
        display: flex;
        flex-direction: row;
        gap: 15px;
        height: 40px;
        width: 100%;
        margin: 10px 10px 10px 10px;
        font-size: 14px;
    }

    .vertical-line {
        border-left: 1px solid #000000; 
        height: 45px; 
    }

    #logo-decode {
        width: 40px;
        height: 40px;
    }

    h1 {
        display: flex;
        align-items: center;
    }


    main {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 0px 0px 0px 0px;
        height: calc(100vh - 100px);
    }

    .input-text {
        display: flex;
        flex-direction: column;
        border-radius: 30px;
        width: 90%;
        height: 45%;
        padding: 5px;
        align-items: center;
        background-color: var(--quaternary-color);
        box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
        font-size: 14px;
    }

    #text-to-encrypt {
        display: flex;
        border: none;
        background-color: var(--quaternary-color);
        width: 90%;
        height: 250px;
        margin: 10px 0px 10px 0px;
        cursor: pointer;
        font-size: 14px;
        padding: 10px;
        resize: none;
        font-family: 'Lexend Giga', sans-serif;
        border-radius: 20px;
        outline: none;
    }

    .warning {
        display: flex;
        flex-direction: row;
        gap: 5px;
        font-size: 14px;
        margin: 0px 0px 10px 10px;
        align-self: flex-start;
        /* Alinha à esquerda dentro da flexbox */
        text-align: left;
    }

    #warning-icon {
        width: 15px;
        height: 15px;
        margin-right: 5px
    }

    .buttons {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;
        margin-top: 10px;
        width: 80%;
        padding: 2px;
    }

    #encrypt-message,
    #decrypt-message {
        width: 80%;
        height: 30px;
        color: var(--background-color-1);
        border: 3px solid var(--primary-color);
        background-color: var(--secondary-color);
        border-radius: 30px;
        font-size: 14px;
        cursor: pointer;
        font-family: 'Lexend Giga', sans-serif;
        padding: 2px;
    }

    .initial-message.encrypted-message, .initial-message.decrypted-message {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: justify;
        border-radius: 20px;
        width: 90%;
        max-width: 90%;
        word-break: break-word;
        overflow: auto;
        font-size: 14px;
    }
    
    .initial-message.encrypted-message.empty-message, .initial-message.decrypted-message.empty-message {
        font-size: 14px;
    }
    
    .initial-message.encrypted-message.invalid-message, .initial-message.decrypted-message.invalid-message {
        font-size: 14px;
    }

    #encrypt-message:hover,
    #decrypt-message:hover {
        color: var(--background-color-1);
        border: 3px solid var(--secondary-color);
        background-color: var(--primary-color);
    }

    .output-text {
        background-color: var(--quaternary-color);
        box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 90%;
        height: 45%;
        padding: 5px;
    }

    #magnifying-glass {
        display: flex;
        height: 80px;
        width: 80px;
        margin-bottom: 10px;
    }

    .initial-message {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px 0px 10px 0px;
        font-size: 14px;
        width: 90%;
        height: 250px;
        padding: 10px;
        font-family: 'Lexend Giga', sans-serif;
        text-align: center;
    }

    .button-copy {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 80%;
        height: 25%;
    }

    #copy-button {
        width: 80%;
        height: 30px;
        color: var(--background-color-1);
        border: 3px solid var(--primary-color);
        background-color: var(--secondary-color);
        border-radius: 30px;
        font-size: 14px;
        cursor: pointer;
        font-family: 'Lexend Giga', sans-serif;
        margin-top: 45px;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 40px;
        font-size: 12px;
        background-color: var(--secondary-color);
        color: var(--quaternary-color);
        width: 100%;
    }
}

@media (max-width: 250px) {
    header {
        display: flex;
        flex-direction: row;
        gap: 10px;
        height: 40px;
        width: 100%;
        margin: 10px 10px 10px 10px;
        font-size: 8px;

    }

    #logo-decode {
        width: 35px;
        height: 35px;
    }

    .button-copy {
        display: flex;
        justify-content: center;
        width: 80%;
    }

    #copy-button {
        width: 80%;
        height: 30px;
        color: var(--background-color-1);
        border: 3px solid var(--primary-color);
        background-color: var(--secondary-color);
        border-radius: 30px;
        font-size: 11px;
        cursor: pointer;
        font-family: 'Lexend Giga', sans-serif;
        margin-top: 15px;
    }
}